* {
    margin: 0;
}

:root {
    --orange: #ff4500;

    --black: #323232;
    --black-bg: #212121;
    --black-border: #454545;
    --white: #f1f2f0;
    --gray: #e4e3e2;
    
    --glass: #f1f2f080;

    --black-text: #202020;
    --white-text: #f1f2f0;
    --gray-text: #999999;
}

/* body */

body {
    font: sans-serif;
    background: var(--black-bg);
}

/* decoration */

.linked {
    width: 100%;
    text-decoration: none;
}

.material-symbols-outlined {
    color: var(--white-text);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    transition: .4s;
}

.material-symbols-outlined.active {
    color: var(--white-text);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.material-symbols-outlined.active-accent {
    color: seagreen;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.sections {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    margin: 0 0 0 30px;
}

.right {
    margin: 0 30px 0 0;
}

.btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    margin: 0 4px 0  4px;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
    border: none;
}

.btn:hover {
    background: var(--black-border);
}

.icon {
    color: red;
}

/* header */

.header {
    top: 0;
    z-index: 5;
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-border);
    background: var(--black);
    transition: .6s;
}

/* left header */

.title {
    font: 500 18px sans-serif;
    text-transform: capitalize;
    color: var(--white-text);
    margin: 0 10px 0 10px;
    transition: .6s;
}

.title a {
    text-decoration: none;
    color: var(--white-text);
}

/* center header */

.search {
    width: 420px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.form-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn-search {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--glass);
    border-radius: 4px 0 0 4px;
}

.box-search {
    width: 380px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--white-text);
    padding: 0 10px 0 2px;
    background: var(--glass);
    border-radius: 0 4px 4px 0;
    text-transform: capitalize;
    font: 500 14px sans-serif;
}

.box-search::placeholder {
    color: var(--white-text);
    font: 500 14px sans-serif;
    text-transform: capitalize;
}

.box-search:focus {
    outline: none;
    color: var(--white-text);
    font: 500 14px sans-serif;
    text-transform: capitalize;
}

/* right header */

.btnPhoto {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* menu */

.menu {
    top: 0;
    left: -100%;
    z-index: 6;
    width: 240px;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--black-border);
    background: var(--black);
    transition: .6s;
}

.menu.active {
    left: 0;
}

.box-body-menu {
    top: 0;
    left: -100%;
    z-index: -6;
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent;
}

.box-body-menu.active {
    left: 0;
}

/* head menu */

.head-menu {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--black-border);
}

/* body menu */

.body-menu {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.body-menu-item {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.body-menu-item:hover {
    background: var(--black-bg);
}

.body-menu-item-design {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.body-menu-item-design-hidden {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 20px;
}

/* footer menu */

.footer-menu {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid var(--black-border);
    background: var(--black);
}

.footer-menu-item {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    transition: .4s;
}

.footer-menu-item:hover {
    background: var(--black-bg);
}

.footer-menu-item-design {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-menu-item-design-hidden {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 20px;
}

/* icon & text */

.footer-menu-icon {
    margin: 0 0 0 20px;
    color: var(--white-text);
}

.footer-menu-text {
    margin: 0 20px 0 20px;
    font: 400 14px sans-serif;
    text-transform: capitalize;
    color: var(--white-text);
}

/* player */

.player {
    z-index: 4;
    bottom: 0;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--black-border);
    background: var(--black);
    transition: .6s;
}

.player.active {
    bottom: 0;
}

/* left player */

.data-song {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 60px;
    height: 60px;
}

.cover img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.data-info {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.title-song {
    font: 800 16px sans-serif;
    margin: 6px 20px 0 20px;
    color: var(--white-text);
}

.more-dats-info {
    display: flex;
    align-items: center;
    margin: 0 20px 6px 20px;
    justify-content: center;
}

.artist-name {
    cursor: pointer;
    text-transform: capitalize;
    font: 600 14px sans-serif;
    color: var(--gray-text);
}

.artist-name:hover {
    text-decoration : underline;
}

.fav {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* center player */

.player-play {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-player {
    width: 520px;
    height: 40px;
    background: var(--black);
}

.btnShuffle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: transparent;
    margin: 0 4px 0 4px;
    border-radius: 50%;
    cursor: pointer;
}

.btnShuffle.active {
    background: var(--black-border);
}

.btnRepeat {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: transparent;
    margin: 0 4px 0 4px;
    border-radius: 50%;
    cursor: pointer;
}

.btnRepeat.active {
    background: var(--black-border);
}

/* right player */

.action-song {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* box mega player */

.box-mega-player {
    z-index: 8;
    bottom: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--black);
    transition: .6s;
}

.box-mega-player.active {
    bottom: 0;
}

/* head box music */

.box-mega-head {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-border);
}

.btn.left {
    margin: 0 0 0 40px;
}

.btn.right {
    margin: 0 40px 0 0;
}

/* body box music */

.box-mega-boby {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: fuchsia;
}

/* body box music {left} */

.box-mega-boby-left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--black-bg);
}

.box-mega-boby-left-cover {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
}

.box-mega-boby-left-cover img {
    width: 400px;
    height: 400px;
}

.box-mega-boby-left-box-player {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--black-glass);
    border: 1px solid seagreen;
    border-radius: 4px;
}

.box-mega-boby-left-box-player-line {
    width: 80%;
    height: 1px;
    cursor: pointer;
    margin: 4px 0 0 0;
    border: 1px solid var(--black-glass);
}

.box-mega-boby-left-box-player-line span {
    width: 100px;
    height: 1px;
}

.box-mega-boby-left-box-player-main {
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-mega-boby-left-box-player-main-btn {
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

/* body box music {right} */

.box-mega-boby-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px dotted var(--border);
}

.box-mega-boby-right-head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border);
}

.box-mega-boby-right-head-nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
}

.box-mega-boby-right-head-nav-item {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black-glass);
    border-radius: 30px;
    font: 600 16px sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}

.box-mega-boby-right-head-nav-item.active {
    background: var(--black-glass);
}

.box-mega-boby-right-head-nav-item:hover {
    background: var(--gray);
}

.box-mega-boby-right-body {
    width: 100%;
    height: 91%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.box-mega-boby-right-body-nav {
    width: 96%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.box-mega-boby-right-body-nav-item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    margin: 8px 0 0 0;
    cursor: pointer;
    border: 1px solid var(--black-glass);
}

.box-mega-boby-right-body-item-cover {
    width: 50px;
    height: 50px;
}

.box-mega-boby-right-body-item-cover img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.box-mega-boby-right-body-item-data-info {
    width: 440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-mega-boby-right-body-item-data {
    width: auto;
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.box-mega-boby-right-body-item-data-title {
    font: 600 16px sans-serif;
    text-transform: capitalize;
}
.box-mega-boby-right-body-item-data-artist {
    font: 500 14px sans-serif;
    text-transform: capitalize;
}

.box-mega-boby-right-body-item-btn {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* player */

/* */

.lyrics {
    opacity: 0;
    top: 63px;
    width: 100%;
    height: 499px;
    position: fixed;
    background: palegreen;
}

/* main */

.main {
    opacity: 0;
    top: 10px;
    margin: 62px 0 0 0;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background: violet;
    overflow-y: auto;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
}

.column {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

/*  */

.title-main {
    width: 100%;
    height: 100px;
    font: bold 18px sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-main span {
    margin: 50px 0 50px 50px;
}

.card {
    width: 200px;
    height: 260px;
    cursor: pointer;
    margin: 0 0 0 50px;
    background: var(--white-glass);
}

.card-artist {
    width: 200px;
    height: 260px;
    cursor: pointer;
    margin: 0 0 0 50px;
    background: var(--white-glass);
    border-radius: 6px;
}

.card-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    border: none;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
    border: none;
}

.card-img-artist {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
}

.card-img-artist img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.tad-card {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 4px 4px;
    background: var(--white);
}

.tad-card-artist {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 4px 4px;
}

.name-card {
    margin: 0 0 0 15px;
    font: 600 16px sans-serif;
    text-transform: capitalize;
}

.categories-card {
    margin: 0 0 0 15px;
    font: 400 14px sans-serif;
}

.tad-card span {
    border: 1px solid var(--black);
    margin: 0 10px 0 10px;
}

.year-card {
    font: 600 16px sans-serif;
    text-transform: capitalize;
}
