* {
    margin: 0;
}

:root {
    --orange: #ff4500;
    --orange-glass: #E7957760;
    --orange-accent: #C03300;
    --white: #f1f2f0;
    --white-glass: #f1f2f078;
    --border: #cdcdcd;
    --gray: #e4e3e2;
    --black: #202020;
    --black-glass: #20202020;
    --glass: #b3b3b340;
    --black-intense: #1b1b1b;
    --black-gray: #303030;
    --border-black: #454545;
}

body {
    font: sans-serif;
    background: var(--background);
}

.header {
    top: 0;
    z-index: 5;
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border-bottom: 1px solid var(--border);
}

.material-symbols-outlined {
    color: var(--black);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  transition: .4s;
}

.material-symbols-outlined.active {
    color: var(--black);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.material-symbols-outlined.active-accent {
    color: seagreen;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.sections {
    width: auto;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    margin-left: 30px;
}

.right {
    margin-right: 30px;
}

.title {
    font: 500 1.5em sans-serif;
    color: var(--black);
    text-transform: capitalize;
    cursor: default;
    margin-left: 10px;
}

.search {
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btn-search {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px 0 0 4px;
    background: var(--glass);
}

.box-search {
    width: 520px;
    height: 50px;
    padding: 0 15px 0 5px;
    letter-spacing: 1px;
    background: var(--glass);
    border-radius: 0 4px 4px 0;
    border: none;
}

.box-search::placeholder {
    color: var(--black);
    font: 400 16px sans-serif;
}

.box-search:focus {
    outline: 1px solid seagreen;
    font: 400 16px sans-serif;
    color: var(--black);
}

.icon-q {
    color: var(--black);
}

.btn {
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

.btn:hover {
    background: var(--white-glass);
}

.btn.active {
    background: var(--white-glass);
}

.icon {
    color: var(--white);
}

.btn img {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.menu {
    top: 0;
    left: -100%;
    z-index: 6;
    width: 280px;
    height: 100%;
    position: fixed;
    background: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--border);
    transition: .6s;
}

.menu.active {
    left: 0;
}

.box-body-menu {
    top: 0;
    left: -100%;
    z-index: -6;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #20202002;
    cursor: pointer;
    transition: .6s;
}

.box-body-menu.active {
    left: 0;
}

.head-menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: var(--white);
    border-bottom: 1px solid var(--border);
}

.body-menu {
    width: 100%;
    height: 598px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    background: var(--white);
}

.body-menu-item {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.body-menu-item:hover {
    background: var(--gray);
}

.body-menu-item-design {
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
}

.body-menu-item-design-hidden {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.footer-menu {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--white);
    border-top: 1px solid var(--border);
}

.footer-menu-item {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-menu-item:hover {
    background: var(--gray);
}

.footer-menu-item-design {
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
}

.footer-menu-item-design-hidden {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.footer-menu-icon {
    margin: 0 0 0 15px;
}

.footer-menu-text {
    margin: 0 15px 0 15px;
    font: 500 18px sans-serif;
    text-transform: capitalize;
}

/* box mega player */

.box-mega-player {
    z-index: 8;
    bottom: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--white);
    transition: .6s;
}

.box-mega-player.active {
    bottom: 0;
}

.box-mega-head {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border-bottom: 1px solid var(--border);
}

.box-mega-head-left, .box-mega-head-center, .box-mega-head-right {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-mega-head-left {
    margin: 0 0 0 40px;
}

.box-mega-head-right {
    margin: 0 40px 0 0;
}

.box-mega-boby {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    background: yellowgreen;
}

.box-mega-boby-left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--white);
}

.box-mega-boby-left-cover {
    width: 500px;
    height: auto;
    box-shadow: 0 0 10px lightsteelblue;
}

.box-mega-boby-left-cover img {
    width: 100%;
    height: 100%;
}

.box-mega-boby-left-box-player {
    width: 85%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--black-glass);
    border: 1px solid var(--black-glass);
    border-radius: 4px;
}

.box-mega-boby-left-box-player-line {
    width: 80%;
    height: 1px;
    cursor: pointer;
    margin: 4px 0 0 0;
    border: 1px solid var(--black-glass);
}

.box-mega-boby-left-box-player-line span {
    width: 100px;
    height: 1px;
}

.box-mega-boby-left-box-player-main {
    width: 50%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-mega-boby-left-box-player-main-btn {
    width: 40px;
    height: 40px;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.box-mega-boby-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--white);
    border-left: 1px dotted var(--border);
}

.box-mega-boby-right-head {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-bottom: 1px solid var(--border);
}

.box-mega-boby-right-head-nav {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
}

.box-mega-boby-right-head-nav-item {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 1px solid var(--black-glass);
    border-radius: 30px;
    font: 600 16px sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}

.box-mega-boby-right-head-nav-item.active {
    background: var(--black-glass);
}

.box-mega-boby-right-head-nav-item:hover {
    background: var(--gray);
}

.box-mega-boby-right-body {
    width: 100%;
    height: 91%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--white);
    overflow-y: auto;
}

.box-mega-boby-right-body-nav {
    width: 96%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.box-mega-boby-right-body-nav-item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    margin: 8px 0 0 0;
    cursor: pointer;
    border: 1px solid var(--black-glass);
}

.box-mega-boby-right-body-item-cover {
    width: 50px;
    height: 50px;
}

.box-mega-boby-right-body-item-cover img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.box-mega-boby-right-body-item-data-info {
    width: 440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-mega-boby-right-body-item-data {
    width: auto;
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.box-mega-boby-right-body-item-data-title {
    font: 600 16px sans-serif;
    text-transform: capitalize;
}
.box-mega-boby-right-body-item-data-artist {
    font: 500 14px sans-serif;
    text-transform: capitalize;
}

.box-mega-boby-right-body-item-btn {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* player */

.player {
    z-index: 4;
    bottom: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    background: var(--white);
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player.active {
    bottom: 0;
}

.data-song {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.cover {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: var(--orange);
}

.cover img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.data-info {
    height: 50px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}

.fav {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-song {
    font: 800 16px sans-serif;
    margin: 0 20px 0 20px;
}

.more-dats-info {
    font: 400 14px sans-serif;
    margin: 0 20px 0 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.more-dats-info span {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
    border: 1px solid var(--black);
}

.artist-name {
    cursor: pointer;
    text-transform: capitalize;
}

.artist-name:hover {
    text-decoration : underline;
}

.album-name {
    cursor: pointer;
    text-transform: capitalize;
}

.album-name:hover {
    text-decoration: underline;
}

.year-data {
    text-transform: capitalize;
}

.player-play {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-song {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnB {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

.btnB.active {
    background: #20202040;
}

.btnShuffle {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

.btnShuffle.active {
    background: #20202040;
}

.btnRepeat {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px 0 8px;
    cursor: pointer;
}

.btnRepeat.active {
    background: #20202040;
}

/* */

.lyrics {
    opacity: 0;
    top: 63px;
    width: 100%;
    height: 499px;
    position: fixed;
    background: palegreen;
}

/* main */

.main {
    opacity: 0;
    top: 10px;
    margin: 62px 0 0 0;
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background: violet;
    overflow-y: auto;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
}

.column {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

/*  */

.title-main {
    width: 100%;
    height: 100px;
    font: bold 18px sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title-main span {
    margin: 50px 0 50px 50px;
}

.card {
    width: 200px;
    height: 260px;
    cursor: pointer;
    margin: 0 0 0 50px;
    background: var(--white-glass);
}

.card-artist {
    width: 200px;
    height: 260px;
    cursor: pointer;
    margin: 0 0 0 50px;
    background: var(--white-glass);
    border-radius: 6px;
}

.card-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    border: none;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
    border: none;
}

.card-img-artist {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
}

.card-img-artist img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.tad-card {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0 0 4px 4px;
    background: var(--white);
}

.tad-card-artist {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 4px 4px;
}

.name-card {
    margin: 0 0 0 15px;
    font: 600 16px sans-serif;
    text-transform: capitalize;
}

.categories-card {
    margin: 0 0 0 15px;
    font: 400 14px sans-serif;
}

.tad-card span {
    border: 1px solid var(--black);
    margin: 0 10px 0 10px;
}

.year-card {
    font: 600 16px sans-serif;
    text-transform: capitalize;
}

@media (max-width: 560px) {
    .header {
        height: 60px;
    }

    #btnMenu {
        display: none;
    }

    .title {
        font: 500 20px sans-serif;
        margin-left: 10px;
    }
    
    .search {
        display: none;
    }

    .menu {
        top: 722px;
        left: 0;
        z-index: 6;
        width: 100%;
        height: 60px;
        position: fixed;
        background: var(--white);
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    
    .box-body-menu {
        top: 0;
        left: -100%;
        z-index: -6;
        width: 100%;
        height: 100%;
        position: fixed;
        background: transparent;
        cursor: pointer;
        transition: .6s;
    }
    
    .box-body-menu.active {
        left: 0;
    }
    
    .head-menu, .footer-menu {
        display: none;
    }
    
    .body-menu {
        width: 80%;
        height: 56px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        overflow-y: hidden;
    }
    
    .body-menu-item {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .body-menu-item:hover {
        background: none;
    }
    
    .body-menu-item-design {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }
    
    .body-menu-item-design-hidden {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .footer-menu-icon {
        margin: 0;
    }

    .footer-menu-text {
        display: none;
    }
    
    /* box mega player */

    .box-mega-player {
        z-index: 8;
        bottom: -100%;
    }

    #player-bar {
        display: none;
    }

    .box-mega-head {
        height: 60px;
    }

    .box-mega-head-left {
        margin: 0 0 0 20px;
    }
    
    .box-mega-head-right {
        margin: 0 20px 0 0;
    }

    .box-mega-boby {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
    }

    .box-mega-boby-left {
        width: 100%;
        height: 100%;
    }

    .box-mega-boby-left-cover {
        width: 300px;
        height: auto;
        box-shadow: 0 0 10px lightsteelblue;
    }

    .box-mega-boby-left-box-player {
        width: 100%;
        height: 140px;
        background: var(--white);
        border: 1px solid transparent;
    }

    .box-mega-boby-left-box-player-line {
        width: 68%;
        height: 1px;
        cursor: pointer;
        margin: 4px 0 0 0;
        border: 1px solid transparent;
        border-radius: 50px;
        background: var(--border);
    }

    .box-mega-boby-left-box-player-main {
        width: 70%;
        height: 60%;
    }

    .box-mega-boby-right {
        width: 40%;
        height: 100%;
        display: none;
    }
    
    .player {
        height: 70px;
        bottom: 60px;
        border-bottom: 1px solid var(--border);
        justify-content: center;
    }
    
    .data-song {
        height: 100%;
        margin: 0;
    }
    
    .cover {
        width: 70px;
        height: 70px;
        border-radius: 0;
    }
    
    .cover img {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    
    .data-info {
        width: 302px;
        height: 60%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .fav {
        width: 50px;
        height: 100%;
    }
    
    .title-song {
        font: 800 14px sans-serif;
        margin: 0 20px 0 20px;
    }
    
    .more-dats-info span {
        display: none;
    }

    .more-dats-info span:nth-child(2) {
        display: flex;
        border: 1px solid var(--black);
    }

    .album-name {
        display: flex;
    }
    
    .player-play {
        height: 100%;
        cursor: default;
    }

    .year-data, #skip_previous, #skip_next, #volume_up, #lyrics, #broadcast, #playlist_add, .btnShuffle, .btnRepeat{
        display: none;
    }

    .action-song {
        display: none;
    }
}